<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Pass</servlet-name>
    <servlet-class>com.servlet.Passservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pass</servlet-name>
    <url-pattern>/Pass</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Userman</servlet-name>
    <servlet-class>com.servlet.userman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userman</servlet-name>
    <url-pattern>/Userman</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indexservlet</servlet-name>
    <servlet-class>com.servlet.Indexservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexservlet</servlet-name>
    <url-pattern>/Indexservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlet.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeFindservlet</servlet-name>
    <servlet-class>com.servlet.TypeFindservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeFindservlet</servlet-name>
    <url-pattern>/TypeFindservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>putoutservlet</servlet-name>
    <servlet-class>com.servlet.putoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>putoutservlet</servlet-name>
    <url-pattern>/putoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkservlet</servlet-name>
    <servlet-class>com.servlet.checkservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkservlet</servlet-name>
    <url-pattern>/checkservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enroll</servlet-name>
    <servlet-class>com.servlet.enrollservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enroll</servlet-name>
    <url-pattern>/enroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInOutservlet</servlet-name>
    <servlet-class>com.servlet.LogInOutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInOutservlet</servlet-name>
    <url-pattern>/LogInOutservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>struts2</taglib-uri>
      <taglib-location>/WEB-INF/forpage/struts-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>